allure-pytest==2.8.11
allure-python-commons==2.8.11
attrs==19.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
docker==4.2.0
idna==2.9
more-itertools==8.1.0
packaging==20.0
pluggy==0.13.1
py==1.8.1
pycparser==2.19
pyOpenSSL==19.1.0
pyparsing==2.4.6
pytest==5.3.4
pytest-faulthandler==2.0.1
requests==2.23.0
selenium==3.141.0
six==1.14.0
urllib3==1.25.7
wcwidth==0.1.8
websocket-client==0.57.0
